# Configuration Supabase
NEXT_PUBLIC_SUPABASE_URL=https://votre-supabase-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=votre_anon_key_supabase
SUPABASE_SERVICE_ROLE_KEY=votre_service_role_key_supabase

# Configuration Passerelle Fapshi (Test / Live) - Administrateur réseau Miguel
FAPSHI_ENV=sandbox
FAPSHI_API_USER=3aa8a0e2-d174-4420-b35a-dabcc6a0bed0
FAPSHI_API_KEY=FAK_TEST_c6caedec7fc928825153
FAPSHI_WEBHOOK_SECRET=123@Miguel
FAPSHI_WEBHOOK_URL=https://tcf-canada-olive.vercel.app/api/webhooks/fapshi
